#Pessoa1{
  background: linear-gradient(to top,#6d1345,#7e154f 20%, #df5442 );
  background-size: cover;
  width: 100%;
}
.Pessoa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 350px;

}
.Pessoa img{
  border-radius:50%;
}




